<template name='finish'>
  <div id='finish'>
    <h2 class='general'>That's it!</h2>
    <p class='general'>You made it in {{ time }}</p>
    <div class='finish_form'>
      <input placeholder='Your name' type='text' name='player_name' class='general' id='player_name' autofocus><!-- 
      --><button class='general' id='finish_submit'>Send!</button>
    </div>
    <div class='finish_share'>
      <a href='https://twitter.com/share' class='twitter-share-button' data-text='just finished in {{ time }}' data-via='espinosacurbelo' data-size='large' data-hashtags='MVDJS' data-dnt='true'>Tweet</a>
    </div>
  </div>
</template>